@{
    ViewBag.Title = "Home Page";
}
<script>     /// <reference path="../../Scripts/yam.js"/>
</script>
<div class="metro-pivot">
    <div class="pivot-item">
        <h3>
            messages</h3>
        <ul id="messages">
        </ul>
    </div>
    <div class="pivot-item">
        <h3>
            notifications</h3>
        <ul class="metro-list">
            <li class="accent"><a href="/demos/fonts/">A font for all occasions</a></li>
            <li class="accent"><a href="/demos/fonts/">jqMetro - a pivot control</a></li>
            <li class="accent"><a href="/demos/blog/">Applying Metro to a blog</a></li>
            <li class="accent"><a href="/demos/slides/">Adding metro to impress.js (WIP)</a></li>
        </ul>
    </div>
    <div class="pivot-item">
        <h3>
            private messages
        </h3>
    </div>
    <div class="pivot-item">
        <h3>
            columns</h3>
        <div class="row">
            <div class="span12">
                Level 1 of column
                <div class="row">
                    <div class="span6">
                        Level 2</div>
                    <div class="span6">
                        Level 2</div>
                </div>
                <div class="row">
                    <div class="span4">
                        Level 3</div>
                    <div class="span4">
                        Level 3</div>
                    <div class="span4">
                        Level 3</div>
                </div>
                <div class="row">
                    <div class="span4">
                        Level 4</div>
                    <div class="span8">
                        Level 4</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pivot-item">
        <h3>
            controls</h3>
        <h4>
            progress bars</h4>
        <div class="row">
            <div class="span4">
                <div class="progress">
                    <div class="bar" style="width: 60%;">
                    </div>
                </div>
            </div>
        </div>
        <h4>
            active progress bars</h4>
        <div class="row">
            <div class="span4">
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 40%;">
                    </div>
                </div>
            </div>
        </div>
        <h4>
            tiles</h3>
            <div class="tiles" style="width: 800px;">
                <div class="tilerow">
                    <div class="tile one bluebg">
                        <a href="#">
                            <img src="http://code52.org/img/tiles/markpad.png" /><h2>
                                markpad</h2>
                        </a>
                    </div>
                    <div class="tile one bluebg">
                        <a href="#">
                            <img src="http://code52.org/img/tiles/jibbr.png" /><h2>
                                jibbr</h2>
                        </a>
                    </div>
                    <div class="tile one bluebg">
                        <a href="#">
                            <img src="http://code52.org/img/tiles/ideastrike.png" /><h2>
                                ideastrike</h2>
                        </a>
                    </div>
                    <div class="tile two-h bluebg">
                        <a href="#">
                            <img src="http://code52.org/img/tiles/samurai.png" /><h2>
                                samurai</h2>
                        </a>
                    </div>
                </div>
                <div class="tilerow">
                    <div class="tile two-h limebg">
                        <a href="#">
                            <img src="http://code52.org/img/tiles/pretzel.png" /><h2>
                                pretzel</h2>
                        </a>
                    </div>
                    <div class="tile one limebg">
                        <a href="#">
                            <h2>
                                test</h2>
                        </a>
                    </div>
                    <div class="tile one limebg">
                        <a href="#">
                            <h2>
                                test</h2>
                        </a>
                    </div>
                    <div class="tile two-v fifthcol limebg">
                        <a href="#">
                            <h2>
                                test</h2>
                        </a>
                    </div>
                </div>
                <div class="tilerow">
                    <div class="tile one orangebg">
                        <a href="#">
                            <h2>
                                test</h2>
                        </a>
                    </div>
                    <div class="tile one orangebg">
                        <a href="#">
                            <h2>
                                test</h2>
                        </a>
                    </div>
                    <div class="tile one orangebg">
                        <a href="#">
                            <h2>
                                test</h2>
                        </a>
                    </div>
                    <div class="tile two-v fourthcol orangebg">
                        <a href="#">
                            <h2>
                                test</h2>
                        </a>
                    </div>
                </div>
                <div class="tilerow">
                    <div class="tile one tealbg">
                        <a href="#">
                            <h2>
                                test</h2>
                        </a>
                    </div>
                    <div class="tile one tealbg">
                        <a href="#">
                            <h2>
                                test</h2>
                        </a>
                    </div>
                    <div class="tile one tealbg">
                        <a href="#">
                            <h2>
                                test</h2>
                        </a>
                    </div>
                    <div class="tile one fifthcol tealbg">
                        <a href="#">
                            <h2>
                                test</h2>
                        </a>
                    </div>
                </div>
                <div class="tilerow">
                    <div class="tile one purplebg">
                        <p>
                            <h2>
                                test</h2>
                        </p>
                    </div>
                    <div class="tile one purplebg">
                        <p>
                            <h2>
                                test</h2>
                        </p>
                    </div>
                    <div class="tile one purplebg">
                        <p>
                            <h2>
                                test</h2>
                        </p>
                    </div>
                    <div class="tile one purplebg">
                        <p>
                            <h2>
                                test</h2>
                        </p>
                    </div>
                    <div class="tile one purplebg">
                        <p>
                            <h2>
                                test</h2>
                        </p>
                    </div>
                </div>
            </div>
    </div>
</div>
<script>
    var defaults = {
        animationDuration: 350,
        headerOpacity: 0.25,
        fixedHeaders: false,
        headerSelector: function (item) { return item.children("h3").first(); },
        itemSelector: function (item) { return item.children(".pivot-item"); },
        headerItemTemplate: function () { return $("<span class='header' />"); },
        pivotItemTemplate: function () { return $("<div class='pivotItem' />"); },
        itemsTemplate: function () { return $("<div class='items' />"); },
        headersTemplate: function () { return $("<div class='headers' />"); },
        controlInitialized: undefined,
        selectedItemChanged: undefined
    };

    $(function () {
        $("div.metro-pivot").metroPivot(defaults);


        $(".tile").each(addTileTilt);

        //loadMessages();
        yam.config({ appId: "I6vmCQ0qZr0atOJwJkWQ" });

        yam.getLoginStatus(function (response) {
            if (response.authResponse) {
                // logged in and connected user, someone you know
                //alert("loggedIn");
            } else {
                // no user session available, someone you don’t know
                yam.login(function (response) {
                    if (response.authResponse) {
                        // user successfully logged in
                    } else {
                        // user cancelled login
                        return;
                    }
                });

            }

            yam.request(
                {
                    url: "/api/v1/messages?threaded=true",
                    method: "GET",
                    data: "foo=bar",
                    success: function (msg) {
                        var items = [];
                        $.each(msg.messages, function (index, valueOfElement) {
                            items.push('<li>' + valueOfElement.body.rich + '</li>');
                        });
                        $('#messages').append(items.join(''));

                    },
                    error: function (msg) {
                        alert("Data Not Saved: " + msg);
                    }
                }
            );

        });

    });



		</script>
